<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card-body">
                <h3>Bienvenido {{user.username}}</h3>
                <h4>{{user.email}}</h4>
                <a href="/mails/add" class="btn btn-primary m-4">
                    Envía Correos Certificados
                </a>
            </div>
        </div>
    </div>
</div>