<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>CertMail-UFPS</h3>
                    <h5>Inicio de Sesión</h5>
                </div>
                <div class="card-body">
                    <img src="/img/logo.jpg" alt="Logo ingsistemas" class="card-img-top mx-auto m-2 w-40">
                    <form action="/signin" method="POST">
                        <div class="form-group p-2">
                            <input type="text" name="username" placeholder="Ingrese el nombre de usuario" class="form-control" autofocus>                            
                        </div>                        
                        <div class="form-group p-2">
                            <input type="password" name="password" class="form-control" placeholder="Ingrese la Contraseña">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Iniciar Sesión
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>