<div class="container p-4">
    <div class="row">

        {{#each mails}}
            <div class="col-md-3">
                <div class="card txt-center">
                    <div class="card-body">
                        <h4>Enviado a:</h2>
                        {{remitente}}
                    </div>
                    <div class="card-body">
                        <h4>Asunto: </h2>
                        {{asunto}}
                    </div>                    
                    <div class="card-body">
                        <h4>Fecha de Envío:</h4>
                        {{create_at}}
                    </div>
                    <div class="card-body">
                        <h4>Estado: </h4>
                        <h5>ENVIADO</h5>
                    </div>                     
                </div>
            </div>
        {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card-body text-center">
                    <p>No hay correos enviados</p>
                    <a href="/links/add">Envía un Correo</a>
                </div>
            </div>
        {{/each}}
    </div>
</div>